{{define "title"}}New comment{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/forums">Forums</a> | <a href="/forums/{{.Forum.ID}}">{{.Forum.Name}}</a> | New comment

<form action="/forums/{{.Forum.ID}}/{{.Post}}/create">
	<textarea name="body" rows="20" cols="100" placeholder="Enter comment, markdown is allowed"></textarea><br/>
	<input type="hidden" name="parent" value="{{.Parent}}"/>
    <input type="submit" value="Comment"/>
</form>

{{template "foot" .}}
