{{define "title"}}Vote recorded{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/forums">Forums</a> | <a href="/forums/{{.Forum.ID}}">{{.Forum.Name}}</a> | Vote recorded

<p>Your vote has been recorded. You may now <a href="/forums/{{.Forum.ID}}/{{.Post}}">view</a> the post.</p>

{{template "foot" .}}
