{{define "title"}}Post created{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/forums">Forums</a> | <a href="/forums/{{.Forum.ID}}">{{.Forum.Name}}</a> | Post created

<p>Your post has been created. You may now <a href="/forums/{{.Forum.ID}}/{{.Post}}">view</a> it.</p>

{{template "foot" .}}
