{{define "title"}}New post{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/forums">Forums</a> | New post

<form method="post" enctype="multipart/form-data" action="/forums/post/create">
	<select name="forum">{{range .Forums}}<option value="{{.ID}}" {{if eq $.Current .ID}}selected{{end}}>{{.Name}}</option>{{end}}</select><br/>
	<input type="text" name="title" size="1000" placeholder="Enter title of post"/>
	<textarea name="body" rows="20" cols="100" placeholder="Enter body of post, markdown is allowed"></textarea><br/>
	<input type="file" name="attachments" multiple><br/>
    <input type="submit" value="Post"/>
</form>

{{template "foot" .}}
