{{define "title"}}Forum created{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/forums">Forums</a> | Forum created</p>

<p>Your forum has been created. You may now <a href="/forums/{{.}}">view</a> it.</p>

{{template "foot" .}}
