{{define "title"}}Find a forum{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/forums">Forums</a> | Find a forum</p>

<p>
<form action="/forums/search">
    <label for="search">Forum name or part of name:</label>
    <input type="text" name="search"/><br/>
    <input type="submit" value="Search"/>
</form>
</p>

{{template "foot" .}}
