{{define "title"}}New forum{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/forums">Forums</a> | New

<p>
<form action="/forums/create">
    <label for="name">Forum name:</label>
    <input type="text" name="name"/><br/>
	<label for="role">New members may:</label>
	<select name="role" id="role">
		<option value="disabled">Not access the forum until approved by an administrator</option>
		<option value="viewer">View the forum, but not post, comment, or vote</option>
		<option value="voter">Vote, but not post or comment</option>
		<option value="commenter">Comment and vote, but not post</option>
		<option value="poster" selected>Post, comment, and vote</option>
	</select><br/>
  	<label for="privacy">Allow anyone to search for forum:</label>
	<select name="privacy" id="privacy">
		<option value="public">Yes</option>
		<option value="private">No</option>
	</select><br/>
  <input type="submit" value="Create"/>
</form>
</p>

{{template "foot" .}}
