{{define "title"}}Search for forums{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/forums">Forums</a> | Forums found</p>

{{if len .}}<p>Click on a forum to subscribe:</p>

<p>{{range .}}<a href="/forums/{{.ID}}/subscribe">{{.Name}}</a>, fingerprint {{.Fingerprint}}<br/>{{end}}</p>
{{else}}<p>No matches found.</p>{{end}}

{{template "foot" .}}
