{{define "title"}}Subscribed to forum{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/forums">Forums</a> | Subscribed to forum</p>

<p>You are now subscribed to this forum. Please note that it may take a short time to download recent posts. You may now <a href="/forums/{{.Fingerprint}}">view</a> the forum.</p>

{{template "foot" .}}
