{{define "title"}}Unsubscribed from forum{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/forums">Forums</a> | Unsubscribed from forum</p>

<p>You are no longer subscribed to this forum. You may now <a href="/forums">return</a>.</p>

{{template "foot" .}}
