{{define "title"}}{{if .Forum}}{{.Forum.Name}}{{else}}Forums{{end}}{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/forums">Forums</a>{{if .Forum}} | {{.Forum.Name}}{{end}}</p>

{{if .User}}
<p><a href="/forums/find">Subscribe to a forum</a> | <a href="/forums/new">Create new forum</a>{{if .Forum}}{{if $.RoleAdministrator}} | <a href="/forums/{{.Forum.Fingerprint}}/members">Manage members of {{.Forum.Name}}</a>{{end}}{{if not .Forum.Entity}} | <a href="/forums/{{.Forum.Fingerprint}}/unsubscribe">Unsubscribe from {{.Forum.Name}}</a>{{end}}{{end}} | <a href="/forums/post/new{{if .Forum}}?current={{.Forum.Fingerprint}}{{end}}">New post</a><br/>
<a href="/forums">All forums</a>{{range .Forums}} | <a href="/forums/{{.Fingerprint}}">{{.Name}}</a>{{end}}</p>
{{end}}

{{if and .Member (eq .Member.Role "disabled")}}<p>You do not currently have access to this forum. Please wait until an administrator admits you.</p>{{else}}

<div style="background: #dddddd; padding: 2px;">

{{range .Posts}}
<a href="/forums/{{.ForumFingerprint}}/{{.ID}}" style="text-decoration:none;"><div style="background: white; margin: 10px; padding: 5px; border-radius: 5px; box-shadow: 1px 1px;">
<h3 style="margin: 2px;">{{.Title}}</h3>
{{.BodyMarkdown}}

{{template "attachments" .}}

<p style="font-variant: small-caps;">{{if not $.Forum}}{{.ForumName}}, {{end}} {{.Name}}, {{.CreatedString}} | &uarr;{{.Up}} &darr;{{.Down}} &#8618;{{.Comments}}</p>

</div></a>
{{end}}

</div>
{{end}}
{{template "foot" .}}
