{{define "title"}}Edit forum members{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/forums">Forums</a> | <a href="/forums/{{.Forum.ID}}">{{.Forum.Name}}</a> | Edit members

<form action="/forums/{{.Forum.ID}}/members/save">
	{{range .Members}}<select name="role_{{.ID}}" {{if eq .ID $.User.Identity.ID}}disabled{{end}}>
		<option value="disabled" {{if eq .Role "disabled"}}selected{{end}}>No access</option>
		<option value="viewer" {{if eq .Role "viewer"}}selected{{end}}>View the forum, but not post, comment, or vote</option>
		<option value="voter" {{if eq .Role "voter"}}selected{{end}}>Vote, but not post or comment</option>
		<option value="commenter" {{if eq .Role "commenter"}}selected{{end}}>Comment and vote, but not post</option>
		<option value="poster" {{if eq .Role "poster"}}selected{{end}}>Post, comment, and vote</option>
		{{if eq .ID $.User.Identity.ID}}<option value="administrator" {{if eq .Role "administrator"}}selected{{end}}>Administrator</option>{{end}}
	</select>
	{{.Name}}<br/>{{end}}
    <input type="submit" value="Save"/>
</form>

{{template "foot" .}}
