{{define "title"}}Members updated{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/forums">Forums</a> | <a href="/forums/{{.Forum.ID}}">{{.Forum.Name}}</a> | Members updated

<p>The members have been updated. You may now <a href="/forums/{{.Forum.ID}}">return</a>.</p>

{{template "foot" .}}
